@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@using SpaceTransporter.Models;
@model FrontendViewModel;

<div>
    <h3>Ships</h3>

    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Ship name</td>
                <td>Maximum warp speed</td>
                <td>Current location</td>
                <td>Docking action</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var ship in Model.ShipsToShow)
            {
                <tr>
                    <td>@ship.Id</td>
                    <td>@ship.Name</td>
                    <td>@ship.MaxWarpSpeed</td>
                    <td>@ship.CurrentLocation.Name</td>
                    <td>
                        @if (ship.IsDocked)
                        {
                            <a href="~/ships/@ship.Id/undock">Undock</a>
                        } else
                        {
                            <a href="~/ships/@ship.Id/dock">Dock</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
<div>
    <h3>Send Ship</h3>

    <p>Ships can only be sent if they are unocked. If you aren't seeing your ship in the select below, 
    make sure to undock it above</p>

    <form action="~/ships/move/" method="post">
        <br />
        <label for="SendShipId">Which ship should be sent...</label>
        <select id="SendShipId" name="SendShipId">
            @foreach (var ship in Model.ShipsToShow)
            {
                <option value=@ship.Id>@ship.Name</option>
            }
        </select>
        
        <label for="SendPlanetId">...to which planet</label>
        <select id="SendPlanetId" name="SendPlanetId">
            @foreach (var planet in Model.PlanetsToShow)
            {
                <option value=@planet.Id>@planet.Name</option>
            }
        </select>

        <br />
        <label for="SubmitShipMove"></label>
        <input type="submit" id="SubmitShipMove" name="SubmitShipMove" value="Send the Ship!" />
    </form>

</div>

<br />
<div>
    <h3>Create new ship</h3>

    <form action="~/ships" method="post">
        <label for="Name">Ship name</label>
        <br />
        <input type="text" id="Name" name="Name" />
        
        <br />
        <label for="Warp">Maximum warp</label>
        <br />
        <input type="text" id="Warp" name="Warp" />

        <br />
        <label for="PlanetId">Starting planet</label>
        <br />
        <select id="PlanetId" name="PlanetId">
            @foreach(var planet in Model.PlanetsToShow)
            {
                <option value=@planet.Id>@planet.Name</option>
            }
        </select>

        <br />
        <label for="Submit"></label>
        <input type="submit" id="Submit" name="Submit" value="Create the ship!" />

    </form>

</div>
